{% extends "base.html" %}

{% block content %}
  <div class="container flex-wrap-reverse card text-dark bg-light mb-3 card-custom">
    {% if form %}
      <h1>Hi, {{ current_user.username }}!</h1>
      <form action="" method="post">
          {{ form.hidden_tag() }}
          <p>
              {{ form.post.label }}
              <br>
              {{ form.post(cols=32, rows=4) }}
              <br>
              {% for error in form.post.errors %}
                <span style="color: red;">{{ error }}</span>
              {% endfor %}
          </p>
          <p>{{ form.submit() }}</p>
      </form>
      <hr>
      <br>
      <h3><em>Your posts, and all posts from the shredders you follow:</em></h3>
    {% elif title == 'Search' %}
      <h1>Search Results:</h1>
      <br>
    {% else %}
      <h1>Looking for a weather report? Find it <a href="{{ url_for('weather') }}">here</a></h1>
      <hr>
      <br>
      <h3><em>Your posts, and all posts from fellow shredders:</em></h3>
    {% endif %}
    {% for post in posts %}
        {% include 'main/_post.html' %}
    {% endfor %}
    {% if prev_url %}
      <br>
      <a href="{{ prev_url }}">Newer Posts</a>
    {% endif %}
    {% if next_url %}
      <br>
      <a href="{{ next_url }}">Older Posts</a>
    {% endif %}
    <br>
    <br>
  </div>
{% endblock %}
