{% extends "base.html" %}

{% block content %}
  <div class="container flex-wrap-reverse card text-dark bg-light mb-3 card-custom">
    <h1>Send Message to: {{ recipient }}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.message.label }}
            <br>
            {{ form.message(cols=32, rows=4) }}
            <br>
            {% for error in form.message.errors %}
              <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
  </div>
{% endblock %}
