{% extends "base.html" %}

{% block content %}
  <div class="container flex-wrap-reverse card text-dark bg-light mb-3 card-custom">
    <h1>Weather Reports:</h1>
    {% if not location %}
      <form action="" method="post">
          {{ form.hidden_tag() }}
          <p>
              {{ form.city.label }}
              <br>
              {{ form.city(size=32) }}
              <br>
              {% for error in form.city.errors %}
                <span style="color:red;">{{ error }}</span>
              {% endfor %}
          </p>
          <p>
              {{ form.state.label }}
              <br>
              {{ form.state(size=5) }}
              <br>
              {% for error in form.state.errors %}
                <span style="color:red;">{{ error }}</span>
              {% endfor %}
          </p>
          <p>{{ form.submit() }}</p>
      </form>
    {% else %}
      <br>
      <h3>Hourly Weather (Next 8 Hr.)</h3>
      <ul>
        <li>Average Temperature: {{ avg_hourly }} °F</li>
        <li>Median Temperature: {{ median_hourly }} °F</li>
        <li>Mode Temperature: {{ mode_hourly }} °F</li>
      <ul>
      <div>
      </div>
    {% endif %}
  </div>
{% endblock %}
