{% extends "base.html" %}

{% block content %}
  <div class="container flex-wrap-reverse card text-dark bg-light mb-3 card-custom">
    <h1>Weather Reports:</h1>
    {% if not location %}
      <form action="" method="post">
          {{ form.hidden_tag() }}
          <p>
              {{ form.city.label }}
              <br>
              {{ form.city(size=32) }}
              <br>
              {% for error in form.city.errors %}
                <span style="color:red;">{{ error }}</span>
              {% endfor %}
          </p>
          <p>
              {{ form.state.label }}
              <br>
              {{ form.state(size=5) }}
              <br>
              {% for error in form.state.errors %}
                <span style="color:red;">{{ error }}</span>
              {% endfor %}
          </p>
          <p>{{ form.submit() }}</p>
      </form>
    {% else %}
      <br>
      <h3>Current Weather</h3>
      <ul class="weather-stats">
        <li>Conditions: {{ conditions }}</li>
        <li>Temperature: {{ current_temp }} °F</li>
        <li>Feels Like: {{ feels_like }} °F</li>
        <li>Humidity: {{ humidity }}%</li>
        <li>UV Index: {{ uvi }}</li>
      </ul>
      <br>
      <h3>Hourly Weather <em>(Next 8 Hours)</em></h3>
      <ul class="weather-stats">
        <li>Average Temperature: {{ avg_hourly }} °F</li>
        <li>Median Temperature: {{ median_hourly }} °F</li>
        <li>Conditions: {{ hourly_conditions }}</li>
      </ul>
      <br>
      <h3>Daily Weather <em>(Next 5 Days)</em></h3>
      <ul class="weather-stats">
        <li>Average High: {{ avg_daily_highs }} °F</li>
        <li>Average Low: {{ avg_daily_lows }} °F</li>
        <li>Conditions: {{ daily_conditions }}</li>
      </ul>
      <br>
    {% endif %}
  </div>
{% endblock %}
