<!doctype html>
<html>
    <head>
        {% if title %}
          <title>{{ title }} - Shredhub 🤙🏽</title>
        {% else %}
          <title>Welcome to Shredhub! 🤙🏽</title>
        {% endif %}
    <!-- TODO: Add additional CSS classes as additional arguments for styling purposes -->
    <style>
      body {
        /* overflow-x: hidden; */
        background-image: linear-gradient(white, grey);
        height: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        background-attachment: fixed;
        font-family: 'Trebuchet MS', sans-serif;
      }
    </style>
    </head>
    <body>
        <div>
          Shredhub:
          <a href="{{ url_for('index') }}">Home</a>
          {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
          {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
          {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
              {% for message in messages %}
                <li style="list-style-type:none;">{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
