{% extends "base.html" %}

{% block content %}
  <div class="card text-dark bg-light mb-3 card-custom" style="max-width:22rem;">
    <h1>Edit Profile:</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            <br>
            {{ form.username(size=32) }}
            <br>
            {% for error in form.username.errors %}
              <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}
            <br>
            {{ form.about_me(cols=32, rows=4) }}
            <br>
            {% for error in form.about_me.errors %}
              <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
  </div>
{% endblock %}
