{% extends "base.html" %}

{% block content %}
  <div class="card text-dark bg-light mb-3 card-custom">
    <h1>Reset Your Password</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
              <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password_confirmation.label }}<br>
            {{ form.password_confirmation(size=32) }}<br>
            {% for error in form.password_confirmation.errors %}
              <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
  </div>
{% endblock %}
