{% extends "base.html" %}

{% block content %}
  <div class="card text-dark bg-light mb-3 card-custom">
    <table>
        <tr valign="center">
            <td><img class="user-avatar" src="{{ user.avatar(128) }}"></td>
            <td>
              <h1>Shredder: {{ user.username }}</h1>
              {% if user.about_me %}<p>About Me: <br>{{ user.about_me }}</p>{% endif %}
              {% if user.last_seen %}<p>Last Seen On: <br>{{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
              <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
          {% if user == current_user %}
            <a href="{{ url_for('edit_profile') }}" class="btn btn-light btn-outline-dark" style="font-size:0.955em;">Edit Profile</a>
          {% elif not current_user.is_following(user) %}
            <form action="{{ url_for('follow', username=user.username, action='follow') }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Follow') }}
            </form>
          {% else %}
            <form action="{{ url_for('follow', username=user.username, action='unfollow') }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Unfollow') }}
            </form>
          {% endif %}
          </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
      <br>
      <a href="{{ prev_url }}">Newer Posts</a>
    {% endif %}
    {% if next_url %}
      <br>
      <a href="{{ next_url }}">Older Posts</a>
    {% endif %}
  </div>
{% endblock %}
