{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="center">
            <td><img style="border-radius:40%; padding-right:10px;" src="{{ user.avatar(128) }}"></td>
            <td>
              <h1>Shredder: {{ user.username }}</h1>
              {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
              {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
              <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
            </td>
        </tr>
        <tr valign="center">
          {% if user == current_user %}
            <td style="padding-left:10px;"><a href="{{ url_for('edit_profile') }}">Edit your profile</a></td>
          {% elif not current_user.is_following(user) %}
            <td style="padding-left:10px;">
                <form action="{{ url_for('follow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Follow') }}
                </form>
            </td>
          {% else %}
            <td style="padding-left:10px;">
                <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Unfollow') }}
                </form>
            </td>
          {% endif %}
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}
